<header class="header">
    <h1>Hello,welcome <%= locals.fullname %></h1>
    <button class="toggle-mob-menu" aria-expanded="false" aria-label="Toggle menu">
      <svg aria-hidden="true">
        <use xlink:href="#menu"></use>
      </svg>
    </button>
  </header>