<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/stylesheet/_sidebar.css">
</head>
<body>
  
<aside class="sidebar">
  <nav class="menu">
    <ul id="one">
      <li>
        <a href="/landlord/dashboard" id="landdashboard" target="_parent">
        
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/landlord/manage_properties" id="manage-prop" target="_parent">
        
          <span>Manage</span>
        </a>
      </li>
      <li>
        <a href="/landlord/payments" id="payment" target="_parent">
          
          <span>Payment</span>
        </a>
      </li>
      <li>
        <a href="/landlord/tenant_information" id="tenant-info" target="_parent">
        
          <span>Tenant</span>
        </a>
      </li>
      <li>
        <a href="/landlord/maintenance" id="maintenance-requests-link" target="_parent">
          
          <span>Maintenance</span>
        </a>
      </li>
       
       <li><a href="/landlord/settings" target="_parent">Settings</a></li>
       <li><a href="/logout" target="_parent" style="color: red;">logout</a></li>



    </ul>
  </nav>
</aside>
</body>
</html>


